.Main-Heading { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(27, 116, 116);
}
.content {color: rgb(117, 75, 23);}
body {background-color: rgb(170, 189, 183);
text-align:left;
font-style:italic ;
font-weight: 1;
font-size: 1rem;
line-height: 1.5rem;}

